
  #Formulario_Compra {
    background-color: #f1f7fd; }
  
  .form_mayorista .php-email-form {
    width: 100%; }
  
  .form_mayorista .php-email-form .form-group {
    padding-bottom: 8px; }
  
  .form_mayorista .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px; }
  
  .form_mayorista .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600; }
  
  .form_mayorista .php-email-form .error-message br + br {
    margin-top: 25px; }
  
  .form_mayorista .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600; }
  
  .form_mayorista .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px; }
  
  .forform_mayorista .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite; }
  
  .form_mayorista .php-email-form input, .form_mayorista .php-email-form textarea, .form_mayorista .php-email-form select {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px !important; }
  
  .form_mayorista .php-email-form input:focus, .form_mayorista .php-email-form textarea:focus, .form_mayorista .php-email-form select:focus {
    border-color: #1977cc; }
  
  .form_mayorista .php-email-form input, .form_mayorista .php-email-form select {
    height: 44px; }
  
  .form_mayorista .php-email-form textarea {
    padding: 10px 12px; }
  
  .form_mayorista .php-email-form button[type="submit"] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px; }
  
  .form_mayorista .php-email-form button[type="submit"]:hover {
    background: #1c84e3; }

.total_form_check {
  font-weight: bold;
}