#itemContainer{
    width: 15vw;
    height: 15vh;
    border: 5px solid red;
    border-radius: 10% 5%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

#itemContainer>img{
    width: 5vw;
    height: 5vh;
    margin: 0 auto;
}

#itemContainer>p{
    margin-top: 0;
}

.itemList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}