.App {
  text-align: center;
  min-height: 100vh;
}



.App-header {
  background-color: #424B54;
  min-height: 9vh;
  height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ion-icon{
  font-size:2rem;
  cursor: pointer;
}

@media only screen and (max-width: 767px) and (min-width: 0px) {  
  

}

ion-icon:hover{
  animation-name: spin;
  animation-duration: 200ms;
  animation-iteration-count: unset;
  animation-timing-function: linear;
  
}

@keyframes spin { 
  from { 
      transform: rotate(0deg);
      color: #b0bcaa; 
  } to { 
      transform: rotate(360deg); 
      color: rgb(255, 255, 255);
  }
}


