$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo-secundario: black;
$color-primario: #ccc;
$color-secundario: white;


.main-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

        .personal-data {
            align-self: flex-start;
            margin-left: 1rem;
            width: auto;
        }

        .card-container{
            background-color: $color-fondo-secundario;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: auto;
            min-width: 50vw;
            height: auto;

                .card{
                    border: 1px solid white;
                    width: 50%;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-evenly;
                    align-items: center;

                        .header{
                            color: white;
                            height: 70%;
                            margin-top: 5px;
                        }
                        .main{
                            color: $color-primario;
                            margin-bottom: 15%;
                        }
                }
        }
  }