@use './components/navBar';
@use './components/cards';

$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo: #fff;
$color-fondo-secundario: #cccc;
$color-primario: black;
$color-secundario: white;

:root {
  font-family: $fuente-tipica;
}

body {
  background-color: $color-fondo;
  color: $color-primario;
}

